abapy @ git+https://github.com/lcharleux/abapy@d9c751e7d67b9ea0d06db6e7f33d0fe845b596ef
backports.functools-lru-cache==1.6.1
certifi==2020.12.5
chardet==4.0.0
configparser==4.0.2
cycler==0.10.0
decorator==4.4.2
docker-py==0.5.3
dockerpty==0.3.4
docopt==0.6.2
fig==1.0.1
idna==2.10
kiwisolver==1.1.0
matplotlib==2.2.5
numpy==1.16.6
pandas==0.24.2
pyDOE2==1.3.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==3.13
requests==2.25.1
scipy==1.2.3
self==2020.12.3
six==1.15.0
texttable==0.8.8
urllib3==1.26.4
websocket-client==0.11.0
