abapy @ git+https://github.com/lcharleux/abapy@d9c751e7d67b9ea0d06db6e7f33d0fe845b596ef
atomicwrites==1.4.0
attrs==21.4.0
backports.functools-lru-cache==1.6.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==5.5
cycler==0.10.0
decorator==4.4.2
docker-py==0.5.3
dockerpty==0.3.4
docopt==0.6.2
fig==1.0.1
funcsigs==1.0.2
idna==2.10
importlib-metadata==2.1.2
install==1.3.0
kiwisolver==1.1.0
matplotlib==2.2.5
more-itertools==5.0.0
numpy==1.16.6
packaging==20.9
pandas==0.24.2
pathlib2==2.3.6
pluggy==0.13.1
py==1.11.0
pyDOE2==1.3.0
pyparsing==2.4.7
pytest==4.6.11
python-dateutil==2.8.1
python-dotenv==0.18.0
pytz==2021.1
PyYAML==3.13
requests==2.25.1
scandir==1.10.0
scipy==1.2.3
self==2020.12.3
six==1.15.0
texttable==0.8.8
typing==3.10.0.0
urllib3==1.26.4
wcwidth==0.2.5
websocket-client==0.11.0
zipp==1.2.0
